version: "3.5"
services:
  # --- INFRASTRUCTURE --- #
  postgres:
    image: postgres:latest
    ports:
      - "${DB_PORT_EXTERNAL}:${DB_PORT_INTERNAL}"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      
    networks:
      - library-network
  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    networks:
      - library-network
  # --- MICROSERVICES ---
  authservice:
    build: './authservice'
    ports:
      - "${PORT_AUTH}:4000"
    environment:
      PORT: ${PORT_AUTH}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT_EXTERNAL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}

    command: npm run dev

    networks:
      - library-network
  authorservice:
    build: ./authorservice
    ports:
      - "${PORT_AUTHORS}:8080"
    environment:
      PORT: ${PORT_AUTHORS}
      SPRING_DATASOURCE_URL: jdbc:postgresql://${DB_HOST}:${DB_PORT_INTERNAL}/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_MVC_CORS_ENABLED: false
    volumes:
      - ./authorservice:/app 
    command: java -jar ./target/authorservice-0.0.1-SNAPSHOT.jar

    networks:
      - library-network
  bookservice:
    build: ./bookservice
    ports:
      - "${PORT_BOOK}:4000"
    environment:
      PORT: ${PORT_BOOK}
      DB_HOST: postgres
      DB_PORT: ${DB_PORT_EXTERNAL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_HOST: ${REDIS_HOST}
    volumes:
      - ./bookservice:/app
      - /app/node_modules
    command: npm run dev

    networks:
      - library-network
  client:
    ports:
      - "${PORT_CLIENT}:${PORT_CLIENT_INTERNAL}"
    build: ./client
    environment:
      VITE_BOOKSERVICE_PORT: ${PORT_BOOK}
      VITE_CATEGORYSERVICE_PORT: ${PORT_CATEGORY}
      VITE_STATSERVICE_PORT: ${PORT_STATS}
      VITE_AUTHORSERVICE_PORT: ${PORT_AUTHORS}
    volumes: 
      - client-code:/app/
    command: npm run dev

    networks:
      - library-network
  #categoryservice:
    #image: categoryservice:2.5
    #ports:
      #- "4002:4000"
    #environment:
      #DATABASE_URL: "postgresql://postgres:123456@postgres:5432/librarydb"
    #volumes:
      #- categoryservice-code:/app/
      #- categoryservice-node-modules:/app/node_modules
    #command: npm run dev

    #networks:
      #- library-network
  ctservice:
    build: ./categoryservicenest
    ports:
      - "${PORT_CATEGORY}:4000"
    environment:
      PORT: ${PORT_CATEGORY}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT_EXTERNAL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    volumes:
      - ctservice-code:/app/
      - ctservice-node-modules:/app/node_modules
    command: npm run start:dev

    networks:
      - library-network
  excelservice:
    build: ./services/excelservice
    ports:
      - "${PORT_EXCEL}:${PORT_MAIN}"
    environment:
      PORT: ${PORT_EXCEL}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT_EXTERNAL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    command: npm run dev

    networks:
      - library-network
  imageservice:
    build: ./services/imageservice
    ports:
      - "${PORT_IMAGE}:${PORT_MAIN}"
    environment:
      PORT: ${PORT_IMAGE}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT_EXTERNAL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    volumes:
      - imageservice-images:/usr/src/app/images
      - imageservice-code:/app/
      - imageservice-node-modules:/app/node_modules
    command: npm run start
    networks:
      - library-network
  notesservice:
    build: ./notesservice
    ports:
      - "${PORT_NOTES}:${PORT_MAIN}"
    environment:
      PORT: ${PORT_NOTES}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT_EXTERNAL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    volumes:
      - notesservice-code:/app/
      - notesservice-node-modules:/app/node_modules
    command: npm run start:dev

    networks:
      - library-network
  statservice:
    image: statservice:1.8
    ports:
      - "${PORT_STATS}:${PORT_MAIN}"
    environment:
      PORT: ${PORT_STATS}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT_EXTERNAL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    volumes:
      - statservice-code:/app/
      - statservice-node-modules:/app/node_modules
    command: npm run dev

    networks:
      - library-network
  userservice:
    build: ./userservice
    ports:
      - "${PORT_USER}:${PORT_MAIN}"
    environment:
      PORT: ${PORT_USER}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT_EXTERNAL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    volumes:
      - userservice-code:/app/
      - userservice-node-modules:/app/node_modules
    command: npm run start:dev

    networks:
      - library-network
  


volumes:
  postgres-data:
  client-code:
  client-node-modules:
  authorservice-code:
  authorservice-node-modules:
  statservice-code:
  statservice-node-modules:
  notesservice-code:
  notesservice-node-modules:
  imageservice-images:
  imageservice-code:
  imageservice-node-modules:
  categoryservice-code:
  categoryservice-node-modules:
  ctservice-code:
  ctservice-node-modules:
  bookservice-code:
  bookservice-node_modules:
  userservice-code:
  userservice-node-modules:

networks:
  library-network:
    external:
      name: postgres-network
